:root {
    --field-drab: rgb(108,84,30);
    --transparent-gold: rgba(255,215,0,0.5);
    --onyx: rgb(52,56,57);
    --smoky-black: rgb(16,12,8);
    --dark-charcoal: rgb(51,51,51);
    --black-leather-jacket: rgb(37,53,41);
    --raisin-black: rgb(36,33,36);
    --jet: rgb(52,52,52);
    --kombu-green: rgb(53,66,48);
    --steel-gray: #71797E;
    --olive-drab-7: #3c341f;
    --zinwaldite-brown: #2c1608;
    --dark-yellow: #9b870c;
}

@font-face {
    font-family: "Slater Industrial";
    font-style: normal;
    font-weight: 400;
    src: local("Slater Industrial"), url(./fonts/SlaterIndustrial.ttf) format("truetype");
}

@font-face {
    font-family: "Overseer";
    font-style: normal;
    src: local("Overseer"), url("./fonts/Overseer.otf") format("opentype");
}

@font-face {
    font-family: "Monofonto";
    font-style: normal;
    src: local("Monofonto"), url("./fonts/monofonto.otf") format("opentype");
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--smoky-black);
}

.flex-container {
    display: flex;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--olive-drab-7);
    margin: 10px;
    padding: 10px;
    justify-content: flex-start;
    align-items: stretch;
}

.flex-container > div {
    margin-right: 2px;
    display: inline-flex;
    padding: 10px;
    margin-bottom: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: solid 1px black;
}

.primary-stats {
    display: flex;
    flex-direction: column;
    background-color: var(--field-drab);
}

.primary-stat {
    padding-left: 2px;
    padding-right: 2px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.primary-stat.unspent-stat-points {
    margin-top: 10px;
    justify-content: space-around;
}

.primary-stat-name {
    color: var(--transparent-gold);
    font-family: "Slater Industrial";
    width: 50%;
    margin-right: 5px;
}

.primary-stat-name.unspent-stat-points {
    width: auto;
    color: var(--transparent-gold);
    font-family: "Slater Industrial";
    margin-right: 10px;
    margin-left: 10px;
}

.primary-stat-value {
    background-color: black;
    font-family: "Overseer";
    color: white;
    font-size: large;
    text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
    width: 20px;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    padding-left: 1px;
}

.primary-stat-value.invalid {
    color: red;
}

.primary-stat-value.unspent-stat-points {
    background-color: black;
    font-family: "Overseer";
    font-size: 1.5em;
    color: white;
    text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-stat-flavor-text {
    font-family: "Monofonto";
    display: flex;
    justify-content: center;
    width: 100px;
    background-color: black;
    color: lawngreen;
    margin-right: 5px;
}

.primary-stats-buttons {
    min-width: 22px;
    max-width: 22px;
    display: inline-block;
    margin-right: 5px;
}

.primary-stat-button {
    background-color: var(--field-drab);
    color: var(--transparent-gold);
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    text-align: center;
    margin: auto;
    font-family: "Slater Industrial";
    display: flex;
    justify-content: center;
    outline: 1px solid grey;
    margin-bottom: 1px;
}

.primary-stat-button:active {
    filter:brightness(90%)
}

.level {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: fit-content;
    align-items: center;
    padding-right: 8px;
    margin-top: 5px;
}

.level-display {
    background-color: black;
    color: lawngreen;
    font-family: "Monofonto";
    width:fit-content;
    height:fit-content;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
}

.level-display > span {
    display: flex;
    width: 160px;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.level-button-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}

.level-button {
    background-color: var(--field-drab);
    color: var(--transparent-gold);
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-family: "Slater Industrial";
    display: flex;
    justify-content: center;
    outline: 1px solid grey;
}

.level-button:active {
    filter: brightness(90%);
}

.derived-stats {
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Monofonto";
    align-items: flex-start;
    justify-content: flex-start;
    border: 5px var(--field-drab) solid;
}

.derived-stats > h3 {
    color: orange;
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 1.1em;
    width: 320px;
}

.derived-stats > div {
    display: flex;
    width: 320px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 1px;
    color:lawngreen;
    justify-content: flex-start;
    margin-right: 10px;
}

.derived-stats > div.other-stat {
    flex-wrap: wrap;
    white-space: normal;
    max-width: 280px;
}

.derived-stat-name {
    color: lawngreen;
    font-family: "Monofonto";
    min-width: 280px;
    flex-wrap: nowrap;
}

.derived-stat-value {
    color: lawngreen;
    font-family: "Monofonto";
    flex-wrap: nowrap;
}

.derived-stat-value.bad {
    color: yellow;
}

.skills {
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--field-drab);
}

.skill {
    padding: 2px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 22px;
    flex-wrap: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.skill.skill-points {
    justify-content: space-around;
}

.skill.skill-points > span {
    display: flex;
    color: lawngreen;
    font-family: "Monofonto";
    justify-content: center;
    width: auto;
}

.skill.tag-points {
    justify-content: space-around
}

.skill.tag-points > span {
    display: flex;
    color: lawngreen;
    font-family: "Monofonto";
    justify-content: center;
    width: auto;
}

.skill-name {
    color: lawngreen;
    font-family: "Monofonto";
    min-width: 120px;
    margin-left: 2px;
}

.skill-name.tagged {
    color:azure;
}

.skill-value {
    width: 30px;
    color: lawngreen;
    font-family: "Monofonto";
}

.skill-value.tagged {
    color: azure;
}

.tag-buttons {
    display: flex;
    flex-direction: column;
    width: 40px;
    min-width: 40px;
    order: 1;
}

.tag-button-container {
    height: 22px;
    background-color: var(--field-drab);
    box-shadow: 0px 1px var(--field-drab), 0px -1px var(--field-drab);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2px;
    padding-left: -2px;
    padding-right: -2px;
}

.tag-button-container > button {
    color: darkred;
    background-color: var(--field-drab);
    border: solid 1px black;
    border-radius: 5px;
    filter: brightness(110%);
    width: 25px;
    height: 20px;
    outline: 1px solid grey;
}

.tag-button-container > button:active {
    color: red;
    filter: brightness(66%);
}

.skill-button-container {
    padding: 2px;
    display: flex;
    flex-direction: row;
    height: 22px;
    width: 44px;
    background-color: var(--field-drab);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px var(--field-drab), 0px -1px var(--field-drab);
}

.skill-button {
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    background-color: var(--field-drab);
    color: var(--transparent-gold);
    width: 20px;
    height: 20px;
    outline: 1px solid grey;
    margin-right: 1px;
}

.skill-button:active {
    filter: brightness(66%);
}

.skill-values {
    display: flex;
    flex-direction: column;
    order: 2;
    flex-wrap: nowrap;
}

.skill-buttons {
    display: flex;
    flex-direction: column;
    width: 5%;
    min-width: 40px;
    order: 3;
}

.traits {
    background-color: var(--field-drab);
    padding: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.traits > h3 {
    color: var(--transparent-gold);
    font-family: "Slater Industrial";
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}

.traits > div {
    background-color: black;
    color: lawngreen;
    font-family: "Monofonto";
    min-height: 20px;
    min-width: 160px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.traits > div.selected {
    color: azure;
}

.perks {
    height: fit-content !important;
    background-color: var(--field-drab);
    display: inline-flex;
    padding: 5px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.players-perks {
    display: inline-flex;
    flex-direction: column;
    margin-right: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.players-perks-heading {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.players-perks-heading > h3 {
    display: inline;
    color: var(--transparent-gold);
    font-family: "Slater Industrial";
    height: fit-content;
    width: fit-content;
    text-size-adjust: auto;
    white-space: nowrap;
}

.players-perks-list {
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    width: 190px;
    height: 535px;
    padding: 5px;
}

.players-perks-list > div {
    color: lawngreen;
    font-family: "Monofonto";
    width: 180px;
}

.available-perks {
    background-color: var(--field-drab);
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
}

.available-perks-heading {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.available-perks-heading > h3 {
    display: inline;
    color: var(--transparent-gold);
    font-family: "Slater Industrial";
    justify-self: flex-start;
    height: fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: 10px
}

.perk-points-heading {
    display: inline;
    width: fit-content;
    height: fit-content;
    color: var(--transparent-gold);
    font-family: "Slater Industrial";
    margin-right: 5px;
    padding: 2px;
}

.perk-points {
    margin-right: 10px;
    display: flex;
    width: 22px;
    height: 22px;
    background-color: black;
    align-items: center;
    justify-content: center;
    font-family: "Overseer";
    color: white;
    font-size: large;
    padding: 2px;
    text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

.available-perks-list {
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    width: 535px;
    height: 535px;
    padding: 5px;
    padding-right: 10px;
    align-items: stretch;
}

.available-perks-list > div {
    color: lawngreen;
    font-family: "Monofonto";
    height: fit-content;
    display: flex;
    width: fit-content;
    flex-wrap: nowrap;
}

.tooltip {
    display: inline-flex;
    padding: 10px;
    height: fit-content;
    margin-right: 10px;
    background-color: var(--field-drab);
    flex-direction: column;
}

.tooltip-display {
    display: inline-flex;
    padding: 20px;
    height: 250px;
    width: 540px;
    background-color: black;
    flex-direction: column;
}

.tooltip-display > h2 {
    color: lawngreen;
    font-family: "Monofonto";
    margin-bottom: -1px;
    white-space: nowrap;
    align-self: flex-start;
    margin-top: 0px;
}

.tooltip-display > span {
    color: lawngreen;
    font-family: "Monofonto";
    margin-top: -1px;
    white-space: wrap;
    align-self: flex-end;
}

.tooltip-display > p {
    color: lawngreen;
    font-family: "Monofonto";
    white-space: pre-line;
    width: fit-content;
    white-space: normal;
    flex-wrap: wrap;
}

hr {
    color: lawngreen;
    width: 100%;
}

.print-button-container {
    display: inline-flex;
    width: fit-content;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--olive-drab-7);
    border: solid 1px black;
    margin-top: 10px;
}

.print-button-container > div {
    font-family: "Slater Industrial";
    font-weight: 400;
    color: var(--transparent-gold);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 8px;
    align-items: center;
    height: 26px;
}

.print-button-container > button {
    background-color: darkred;
    border: solid 1px black;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    outline: 2px solid grey;
}

.print-button-container > button:active {
    filter:brightness(80%)
}

#footer {
    display: inline-flex;
    position: sticky;
    bottom: 0px;
    background-color: var(--field-drab);
    border: solid 1px black;
}

.utility-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.difficulty-container {
    display: inline-flex;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--olive-drab-7);
    padding: 5px;
    border: 1px solid black;
    margin-top: 10px;
    padding-bottom: 0px;
}

.difficulty-container > h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--transparent-gold);
    font-family: "Slater Industrial";
    font-weight: 400;
}

.difficulty-labels {
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: flex-end;
    margin-bottom: -21px;
}

.difficulty-labels > span {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    color: var(--transparent-gold);
    font-family: "Slater Industrial";
    font-size: 0.8em;
    margin-left: -2px;
    margin-right: -2px;
}

.difficulty-normal {
    align-self: flex-start;
}

#knob-container {
    width: 50px;
    height: 50px;
    transform-origin: center;
}

#knob {
    fill: var(--smoky-black);
    stroke: black;
    stroke-width: 2px;
}

#knob-line {
    stroke: white;
    stroke-width: 3;
    filter: opacity(60%);
}